<% layout('layouts/boilerplate') %>

<div id="cluster-map"></div>
<div class="container">
  <h1 class="campground-header">All Campgrounds</h1>
  <% for (let campground of campgrounds){%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <%if(campground.images.length) {%>
        <img
          class="img-fluid campground-image"
          alt=""
          src="<%=campground.images[0].thumbnail%>"
        />
        <% }else {%>
        <img
          class="img-fluid campground-image"
          alt=""
          src="https://images.unsplash.com/photo-1517398825998-780ca786555f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw0OTc3MjU2N3x8ZW58MHx8fHx8&w=1000&q=80"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>

          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= campground.location%></small>
          </p>
          <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>"
            >View <%=campground.title%></a
          >
        </div>
      </div>
    </div>
  </div>
  <% }%>
</div>

<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
</script>
<script src="/javascript/clusterMap.js"></script>
